@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software Development Skill as a Service</h1>
    <p class="lead">Give us your technical work by relieving you off to business requirement</p>
    <p>Senior & expert team eager to help you out to realise your business requirement into robust software</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Contact us without any hesitation and get technical help from us in no time            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>SPA</h2>
        <p>Angular single page or EXT JS</p>
        <p>Contact us </p>
    </div>
    <div class="col-md-4">
        <h2>App for Android IOS or Windows Phone</h2>
        <p>We are using XAMARIN Native development</p>        
    </div>
</div>